<%= render "shared/merchant_header" %>

 <p><%= link_to "Create a New Discount", new_merchant_bulk_discount_path(@merchant) %></p>

<h2 class="center-header">Bulk Discounts for <%= @merchant.name %></h2>

<ul>
<% @merchant.bulk_discounts.each do |discount| %>
  <div id="bulk-discount-<%= discount.id %>">
    <h3>Bulk Discount ID: <%= discount.id %></h3>
    <li>Discount: <%= discount.percentage %>%</li>
    <li>Quantity Threshold: <%= discount.threshold_quantity %> items</li>
    <p><%= link_to "More Info", merchant_bulk_discount_path(@merchant, discount) %> |
    <%= link_to "Delete", merchant_bulk_discount_path(@merchant, discount), method: :delete %></p>
  </div>
<% end %>
 </ul>
