<%= render "shared/merchant_header" %>

<p><%= link_to "Edit Discount Details", edit_merchant_bulk_discount_path(@merchant, @discount) %></p>

<h2 class="center-header">Bulk Discount ID: <%=@discount.id%></h2>

<p><b>For Merchant:</b> <%= @merchant.name %></p>
<p><b>Discount: </b><%= @discount.percentage %>%</p>
<p><b>Quantity Threshold: </b><%= @discount.threshold_quantity %> items</p>
