<%= render "shared/merchant_header" %>

<div id="invoice-info">
  <h3 class="center-header">Invoice #<%= @invoice.id %></h3>
  <p><b>Status: </b><%= @invoice.status %></p>
  <p><b>Created on: </b><%= format_date(@invoice.created_at) %></p>
  <p><b>Total Revenue: </b><%= format_currency(@invoice.total_revenue_for_merchant(@merchant.id)) %></p>
  <p><b>Total Discounted Revenue: </b><%= format_currency(@invoice.total_discounted_revenue_for_merchant(@merchant.id)) %></p>
</div>

<div id="customer-info">
  <p><b>Customer: </b><%= @invoice.customer_name %></p>
</div>

<h3 class='center-header'>Items on this Invoice:</h3>

<% @invoice.merchant_items(@merchant.id).each do |invoice_item| %>
  <div id="item-info-<%= invoice_item.item.id %>" class='flex-parent'>
    <div class='flex-child'>
      <p><b>Item Name:</b> <%= invoice_item.item.name %> |
        <% if invoice_item.discount_applied? %>
          <%= link_to "Discount Applied", merchant_bulk_discount_path(@merchant, invoice_item.get_discount_id) %>
        <% else %>
          No discount applied.
        <% end %>
      </p>
      <p><b>Quantity: </b><%= invoice_item.quantity %></p>
      <p><b>Unit Price: </b><%= format_currency(invoice_item.unit_price) %></p>
      <p><b>Status: </b><%= format_item_info(invoice_item.status) %></p>
    </div>

    <div id="selector" class='flex-child'>
      <h4>Update Item Status</h4>
      <%= form_with model: invoice_item, url: invoice_item_path(invoice_item), method: :patch, local: true do |form| %>
        <%= form.select :status, ['Pending', 'Packaged', 'Shipped'], selected: invoice_item.status %>
        <%= form.submit "Update Item Status" %>
        <br>
      <% end %>
    </div>
  </div>
<% end %>
