<%= render "shared/admin_header" %>

<div id = "<%=@invoice.id%>_id">
  <h3 class="center-header">Invoice #<%= @invoice.id %></h3>
  <div class='flex-parent'>

    <div class='flex-child'>
      <p><b>Created on: </b><%= format_date(@invoice.created_at) %></p>
      <p><b>Total Revenue: </b><%= format_currency(@invoice.total_revenue) %></p>
      <p><b>Total Discounted Revenue: </b><%= format_currency(@invoice.total_discounted_revenue) %></p>
      <p><b>Customer: </b><%= "#{@invoice.customer_name}" %></p>
    </div>

    <div class='flex-child'>
      <p><b>Invoice Status:</b></p>
        <%= form_with model: @invoice, local: true do |form| %>
        <%= form.collection_select :status, ["In Progress", "Completed", "Cancelled"], :to_s, :titleize, selected: @invoice.status %>
        <%= form.submit "Update Invoice Status"%>
        <% end %>
    </div>
  </div>
</div>

  <h3 class="center-header">Items on this Invoice:</h3>

  <% @invoice.invoice_items.each do |invoice_item| %>
    <div id = "item_<%=invoice_item.id%>">
      <p><b>Item name: </b><%= invoice_item.item.name %></p>
      <ul>
        <li><b>Quantity ordered: </b><%= invoice_item.quantity %></li>
        <li><b>Price at sale: </b><%= format_currency(invoice_item.unit_price) %></li>
        <li><b>Item order status: </b><%= format_item_info(invoice_item.status) %></li>
      </ul>
    </div>
  <% end %>
